@model DunDrag.Models.Sort

@{
    ViewData["Title"] = "Details";
}

<h2>@Html.DisplayFor(model => model.Nom)</h2>

<div>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Niveau)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Niveau)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ecole)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ecole)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Incantation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Incantation)
        </dd>
        @if (Model.Rituel)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Rituel)
            </dt>
            <dd>
                <i class="fas fa-check"></i>
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.Portee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Portee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Composantes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Composantes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Duree)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Duree)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SortsClasses)
        </dt>
        <dd>
            @foreach (var classe in Model.SortsClasses)
            {
                @string.Concat(classe.Classe.Nom, "; ")
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.Raw(Model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Retrouner à la liste</a>
</div>
