@model IEnumerable<DunDrag.Models.Sort>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Niveau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ecole)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Incantation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rituel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Portee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Niveau)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ecole)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Incantation.Substring(0, 15))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rituel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Portee)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editer</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>