@using DunDrag.Tech
@model DunDrag.ViewModels.SortsViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Liste des sorts</h2>

@Html.PartialAsync("_ListeSortsEnTete", Model.Sorts, ViewData)

<partial name="_ListeSortsEnTete"/>
    <tbody>
        @foreach (var item in Model.Sorts)
        {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">
                    @Html.DisplayFor(modelItem => item.Nom)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Niveau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ecole)
            </td>
            <td>
                @if (item.Rituel)
                {
                    <i class="fas fa-check"></i>
                }
            </td>
            <td>
                @string.Join("; ", item.SortsClasses.Select(sc => sc.Classe.Nom))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Source)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">
                    <i class="fas fa-eye"></i>
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.Sorts.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Sorts.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.Sorts.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-ecole="@ViewData["Ecole"]"
   asp-route-classe="@ViewData["Classe"]"
   asp-route-niveauMin="@ViewData["NiveauMin"]"
   asp-route-niveauMax="@ViewData["NiveauMax"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.Sorts.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-ecole="@ViewData["Ecole"]"
   asp-route-classe="@ViewData["Classe"]"
   asp-route-niveauMin="@ViewData["NiveauMin"]"
   asp-route-niveauMax="@ViewData["NiveauMax"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
