@model DunDrag.ViewModels.CreationPersonnageViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Création d'un personnage</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Personnage.Race)
    @Html.HiddenFor(model => model.Personnage.Classe.Id)
    <div class="container">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" role="tab" aria-controls="race" aria-selected="true" href="#race">Race</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" role="tab" aria-controls="classe" aria-selected="true" href="#classe">Classe</a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="race" class="tab-pane fade show active" role="tabpanel" aria-labelledby="race-tab">
                <div class="row">
                    @foreach (var race in Model.Races)
                    {
                        <div class="card text-center col-sm-12 col-xl-2" style="overflow: hidden; height: 200px; margin-top: 10px;">
                            <span style="height: 150px; margin-top: 10px;">
                                <img class="card-img-top img-card img-card-unselected"
                                     onclick="changeRace(@Convert.ToInt32(race))"
                                     id="@string.Concat("img-card-race", Convert.ToInt32(race))"
                                     src="~/images/@string.Concat(race, ".jpg")"
                                     alt="Card image cap">
                            </span>
                            <h5 class="card-title">
                                @Html.DisplayFor(model => race)
                            </h5>
                        </div>
                    }
                </div>
            </div>
            <div id="classe" class="tab-pane fade show" role="tabpanel" aria-labelledby="classe-tab">
                <div class="row">
                    @foreach (var classe in Model.Classes)
                    {
                        <div class="card text-center col-sm-12 col-xl-2" style="overflow: hidden; height: 200px; margin-top: 10px;">
                            <span style="height: 150px; margin-top: 10px;">
                                <img class="card-img-top img-card img-card-unselected"
                                     onclick="changeClasse(@classe.Id)"
                                     id="@string.Concat("img-card-classe", classe.Id)"
                                     src="~/images/@string.Concat(classe.Nom, ".jpg")"
                                     alt="Card image cap">
                            </span>
                            <h5 class="card-title">
                                @Html.DisplayFor(model => classe.Nom)
                            </h5>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <input type="submit" value="Enregistrer" />
}
<a asp-action="Index">Retour à la liste</a>

<div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
