@model DunDrag.Models.Personnage

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Personnage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Classe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Classe)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Race)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Race)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Experience)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Experience)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClasseArmure)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClasseArmure)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Initiative)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Initiative)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vitesse)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vitesse)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PvMaximum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PvMaximum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PvTemporaires)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PvTemporaires)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PvActuels)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PvActuels)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DesDeVie)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DesDeVie)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Niveau)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Niveau)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Taille)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Taille)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Yeux)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Yeux)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Peau)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Peau)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cheveux)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cheveux)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Poids)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Poids)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Historique)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Historique)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NomJoueur)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomJoueur)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Alignement)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Alignement)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TraitsDePersonnalite)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TraitsDePersonnalite)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ideaux)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ideaux)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Liens)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Liens)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Defauts)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Defauts)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PiecesCuivre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PiecesCuivre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PiecesArgent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PiecesArgent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PiecesEthereum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PiecesEthereum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PiecesOr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PiecesOr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PiecesPlatine)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PiecesPlatine)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DesDeSauvegardeContreSorts)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DesDeSauvegardeContreSorts)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BonusAttaqueAvecSort)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BonusAttaqueAvecSort)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
