@model IEnumerable<DunDrag.Models.Personnage>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Créer un nouveau personnage</a>
</p>

@*<div class="row">
    @foreach (var personnage in Model)
    {
    <div class="col-sm-12 col-xl-4">
        <div class="card">
            <img class="card-img-top" src=".../100px180/?text=Image cap" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    }
</div>*@

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Classe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Race)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Experience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Niveau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomJoueur)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Nom)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Classe.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Race)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Experience) XP
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Niveau)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomJoueur)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <i class="fas fa-address-card"></i>
                    </a>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <i class="fas fa-book"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
